<div class="features-section text-white" style="margin-top: 250px;">
  <div class="container py-5">
    <div class="row align-items-center">
      <!-- Left Image -->
      <div class="col-md-4 text-start mb-4 mb-md-0">
        <img src="assets/about-left-image.png" alt="Feature Illustration" class="img-fluid feature-image" />
      </div>

      <!-- Right Content -->
      <div class="col-md-8">
        <div class="row g-4">
          <div class="col-sm-6">
            <div class="feature-box">
              <div class="icon mb-2"><img src="assets/service-icon-01.png" alt="" /></div>
              <div>
                <h5>Data Analysis</h5>
                <p>Lorem ipsum dolor sit amet, ctetur aoi adipiscing eliter</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="feature-box">
              <div class="icon mb-2"><img src="assets/service-icon-02.png" alt="" /></div>
              <div>
                <h5>Data Reporting</h5>
                <p>Lorem ipsum dolor sit amet, ctetur aoi adipiscing eliter</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="feature-box">
              <div class="icon mb-2"><img src="assets/service-icon-03.png" alt="" /></div>
              <div>
                <h5>Web Analytics</h5>
                <p>Lorem ipsum dolor sit amet, ctetur aoi adipiscing eliter</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="feature-box">
              <div class="icon mb-2"><img src="assets/service-icon-01.png" alt="" /></div>
              <div>
                <h5>SEO Suggestions</h5>
                <p>Lorem ipsum dolor sit amet, ctetur aoi adipiscing eliter</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
